{% raw %}
  {% assign root_url = {% endraw %}"{%- if routes.root_url != "/" -%}{{ routes.root_url }}{%- endif -%}"{% raw %} %}
  {% assign currencyFormat = {% endraw %}{{ shop.money_format | json }}{% raw %} %}
  {% assign swatch_options = 'Colour~~Color' | downcase | split: "~~" | uniq  %}
  {% assign image_options  = '' | downcase | split: "~~" | uniq  %}
  {% assign text_options   = 'Size' | downcase | split: "~~" | uniq  %}
  {% assign show_selected_variant_info = true %}
 
  {% assign image_size     = '360x504' %}
  {% assign images_count   = product.images | size %}
  {% assign variants_count = product.variants | size %}
  {% assign options_count  = product.options | size %}
  {% assign no_image = 'https://cdn.shopify.com/s/images/themes/product-1.png' %}

  {% assign featured_image            = product.featured_image %}
  {% assign product_price             = product.price %}
  {% assign product_compare_at_price  = product.compare_at_price %}
  {% assign second_image_index        = 2 %}
  {% assign selected_or_first_available_variant = product.selected_or_first_available_variant %}
  {% assign variant_url = '' %}
  {% if product.selected_or_first_available_variant %}{% assign variant_url = '?variant=' | append: product.selected_or_first_available_variant.id %}{% endif %}  {% if show_selected_variant_info and product.selected_variant %}
    {% assign selected_or_first_available_variant = product.selected_variant %}
    {% assign product_price             = selected_or_first_available_variant.price %}
    {% assign product_compare_at_price  = selected_or_first_available_variant.compare_at_price %}
    {% if selected_or_first_available_variant.image %}
      {% assign featured_image = selected_or_first_available_variant.image %}
    {% endif %}
  {% endif %}

  {% for image in product.images %}
    {% if image.id == featured_image.id %}
      {% if forloop.index == images_count %}
        {% assign second_image_index = 1 %}
      {% else %}
        {% assign second_image_index = forloop.index | plus: 1 %}
      {% endif %}
    {% endif %}
  {% endfor %}

            {% if settings.prod_thumb_shape == 'portrait-23' %}
{% assign chosen_aspect_ratio = 0.67 %}
{% elsif settings.prod_thumb_shape == 'portrait-45' %}
{% assign chosen_aspect_ratio = 0.8 %}
{% elsif settings.prod_thumb_shape == 'square' %}
{% assign chosen_aspect_ratio = 1.0 %}
{% elsif settings.prod_thumb_shape == 'landscape' %}
{% assign chosen_aspect_ratio = 1.50 %}
{% elsif settings.prod_thumb_shape == 'tallest' %}
{% assign chosen_aspect_ratio = 99 %}

{% if product.featured_image.aspect_ratio < chosen_aspect_ratio %}
{% assign chosen_aspect_ratio = product.featured_image.aspect_ratio %}
{% endif %}

{% else %}
{% assign chosen_aspect_ratio = 0 %}

{% if product.featured_image.aspect_ratio > chosen_aspect_ratio %}
{% assign chosen_aspect_ratio = product.featured_image.aspect_ratio %}
{% endif %}

{% endif %}
{% if current_tags and filter_group_1_is_swatch %}
{% assign manual_image_load = true %}
{% else %}
{% assign manual_image_load = false  %}
{% endif %}


{% if collection %}
{% assign product_url = product.url | within: collection %}
{% else %}
{% assign product_url = product.url %}
{% endif %}

{% assign product_images = product.images %}
{% if settings.prod_thumb_hover_image and images_count > 1 %}
{% assign show_hover_image = true %}
{% else %}
{% assign show_hover_image = false %}
{% endif %}

{% assign cheapest_variant = product.variants | sort: 'price' | first %}
{% assign custom_aspect_ratio = chosen_aspect_ratio %}

<div{% if showPageData %} data-page="{{page}}"{% endif %} data-product-id="{{ product.id }}" class="product-block" {% if animate %}data-cc-animate{% endif %}>
  <div class="block-inner">
    <div class="block-inner-inner">
            {% if product.featured_image %}

      {% assign aspect_ratios_same = true %}
      {% for image in product.images %}
      {% if image.aspect_ratio != product.featured_image.aspect_ratio %}
      {% assign aspect_ratios_same = false %}
      {% break %}
      {% endif %}
      {% endfor %}

      <div class="image-cont {% if show_hover_image %}image-cont--with-secondary-image {% if aspect_ratios_same %}image-cont--same-aspect-ratio{% endif %}{% endif %}">
        <a class="product-link{% if settings.quickbuy_style == 'whole' %} quickbuy-toggle{% endif %}" href="{{ product_url }}{{variant_url}}" aria-label="{{ product.title | escape }}" tabindex="-1">
          <div class="image-label-wrap">
            <div>
              <div class="product-block__image product-block__image--primary product-block__image--active" data-media-id="{{ product.featured_image.id }}">
                {% assign image = product.featured_image %}
                {% assign min_aspect_ratio = 0.6 %}
                {% assign aspect_ratio = custom_aspect_ratio %}
                {% assign no_max_width = true %}

                {% if aspect_ratio != blank %}
                {% assign local_aspect_ratio = aspect_ratio %}
                {% else %}
                {% assign local_aspect_ratio = image.aspect_ratio %}
                {% endif %}

                {% assign local_cover = cover | default: false %}

                {% if max_height %}
                {% assign max_width = max_height | times: image.aspect_ratio | at_most: image.width | round %}
                {% else %}
                {% assign max_width = image.width %}
                {% endif %}

                {% assign min_aspect_ratio = min_aspect_ratio | default: 0 %}
                {% assign local_aspect_ratio = local_aspect_ratio | at_least: min_aspect_ratio %}

                <div class="rimage-outer-wrapper" {% unless local_cover or no_max_width %}style="max-width: {{ max_width }}px"{% endunless %}>
                  <div class="rimage-wrapper lazyload--placeholder" style="padding-top:{% if product.image != blank %}{{ 1 | divided_by: local_aspect_ratio | times: 100 }}% {% else %}100%{% endif %}">
                    {%- assign img_url = image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
                    <img class="rimage__image lazyload{% if manual_image_load %}--manual{% endif %} fade-in {% if local_cover %}cover{% endif %}"
                        data-src="{{ img_url }}"
                        data-widths="[180, 220, 300, 360, 460, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]"
                        data-aspectratio="{{ image.aspect_ratio }}"
                        data-sizes="auto"
                        alt="{{ image.alt | escape }}"
                        {% if local_cover %}data-parent-fit="cover"{% endif %}>

                    <noscript>
                      <img class="rimage__image" src="{{ image | img_url: '1024x1024' }}" alt="{{ image.alt | escape }}">
                    </noscript>
                  </div>
                </div>
              </div>
              {%- if show_hover_image -%}
              {%- for image in product.images offset: 1 -%}
              <div class="product-block__image product-block__image--secondary {% if forloop.first %}product-block__image--show-on-hover{% endif %} rimage-wrapper lazyload--placeholder"
                  data-media-id="{{ image.id }}"
                  data-image-index="{{ forloop.index }}">
                <div class="lazyload rimage-background fade-in"
                    data-lazy-bgset-src="{{ image | img_url: '1024x1024' }}"
                    data-lazy-bgset-aspect-ratio="{{ image.aspect_ratio }}"
                    data-lazy-bgset-width="{{ image.width }}"
                    data-sizes="auto"
                    data-parent-fit="contain"
                    style='background-image: url("{{ image | img_url: '1024x1024' }}");'></div>
              </div>
              {%- endfor -%}
              {%- endif -%}
            </div>
            {%- if show_hover_image -%}
            {%- unless no_swiping -%}
            <div class="product-block__image-dots" aria-hidden="true">
              <div class="product-block__image-dot product-block__image-dot--active"></div><div class="product-block__image-dot"></div>
              {%- if images_count > 2 -%}
              <div class="product-block__image-dot product-block__image-dot--more"></div>
              {%- endif -%}
            </div>
            {%- endunless -%}
            {%- endif - %}

            {% assign label_text = false %}
            {% if settings.prod_new_show %}
            {% if settings.prod_new_method == 'date' %}
            {% assign now_s = 'now' | date: '%s' | plus: 0 %}
            {% assign pub_s = product.created_at | date: '%s' | plus: 0 %}
            {% assign diff_days = now_s | minus: pub_s | divided_by: 86400 %}

            {% if diff_days < settings.prod_new_limit_int %}
            {% assign label_text = {% endraw %}"{{ 'products.labels.new_in' | t }}"{% raw %} %}
            {% assign label_css_class_suffix = 'new-in'  %}
            {% endif %}
            {% elsif settings.prod_new_method == 'tag' %}
            {% if product.tags contains 'New' %}
            {% assign label_text = {% endraw %}"{{ 'products.labels.new_in' | t }}"{% raw %} %}
            {% assign label_css_class_suffix = 'new-in' %}
            {% endif %}
            {% else %}
            {% for collection in product.collections %}
            {% assign split_collection_handle = collection.handle | split: '-' %}
            {% if split_collection_handle contains 'new' %}
            {% assign label_text = {% endraw %}"{{ 'products.labels.new_in' | t }}"{% raw %} %}
            {% assign label_css_class_suffix = 'new-in' %}
            {% break %}
            {% endif %}
            {% endfor %}
            {% endif %}
            {% endif %}

            {% unless label_text %}
            {% if settings.prod_stock_warn_show and settings.prod_stock_warn_limit_int == 0 and variants_count == 1 and product.variants.first.inventory_management != blank and product.variants.first.inventory_quantity > 0 %}
            {% assign quantity = product.variants.first.inventory_quantity %}
            {% capture label_text %}{% endraw %}{{ 'products.labels.only_x_left' | t }}{% raw %}{% endcapture %}
            {% assign label_css_class_suffix = 'stock' %}
            {% elsif settings.prod_stock_warn_show and variants_count == 1 and product.variants.first.inventory_management != blank and product.variants.first.inventory_quantity > 0 and product.variants.first.inventory_quantity <= settings.prod_stock_warn_limit_int %}
            {% assign quantity = product.variants.first.inventory_quantity %}
            {% capture label_text %}{% endraw %}{{ 'products.labels.only_x_left' | t }}{% raw %}{% endcapture %}
            {% assign label_css_class_suffix = 'stock' %}
            {% elsif settings.prod_reduction_show and cheapest_variant.compare_at_price > cheapest_variant.price %}
            {% if settings.prod_reduction_type == 'percent' %}
            {% assign amount = 1.0 | times: cheapest_variant.price | divided_by: cheapest_variant.compare_at_price %}
            {% assign amount = 1.0 | minus: amount %}
            {% assign amount = amount | times: 100.0 | round %}
            {% capture label_text %}{% endraw %}{{ 'products.labels.percent_reduction' | t }}{% raw %}{% endcapture %}
            {% assign label_css_class_suffix = 'sale' %}
            {% else %}
            {% assign amount = cheapest_variant.compare_at_price | minus: cheapest_variant.price | money %}
            {% capture label_text %}{% endraw %}{{ 'products.labels.value_reduction_html' | t }}{% raw %}{% endcapture %}
            {% assign label_css_class_suffix = 'sale' %}
            {% endif %}
            {% endif %}
            {% endunless %}

            {%- if label_text -%}
            <span class="product-label product-label--{{ label_css_class_suffix }}">
              <span>{{ label_text }}</span>
            </span>
            {%- endif -%}
          </div>
        </a>
        <a class="image-page-button image-page-button--previous" href="#" aria-label="{% endraw %}{{ 'general.accessibility_labels.previous' | t | escape }}{% raw %}" tabindex="-1">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.3" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-left"><title>{{ 'general.icon_labels.left' | t }}</title><polyline points="15 18 9 12 15 6"></polyline></svg>
        </a>
        <a class="image-page-button image-page-button--next" href="#" aria-label="{% endraw %}{{ 'general.accessibility_labels.previous' | t | escape }}{% raw %}" tabindex="-1">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.3" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-right"><title>{{ 'general.icon_labels.right' | t }}</title><polyline points="9 18 15 12 9 6"></polyline></svg>
        </a>

        {% if settings.quickbuy_style == 'button' %}
        <a class="btn btn--secondary quickbuy-toggle" href="{{ product_url }}{{variant_url}}">{% endraw %}{{ 'products.quick_buy.launch' | t }}{% raw %}</a>
        {% endif %}
      </div>
      {% else %}
      <div class="image-cont">
        <div class="placeholder-image">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 525.5 525.5"><path d="M375.5 345.2c0-.1 0-.1 0 0 0-.1 0-.1 0 0-1.1-2.9-2.3-5.5-3.4-7.8-1.4-4.7-2.4-13.8-.5-19.8 3.4-10.6 3.6-40.6 1.2-54.5-2.3-14-12.3-29.8-18.5-36.9-5.3-6.2-12.8-14.9-15.4-17.9 8.6-5.6 13.3-13.3 14-23 0-.3 0-.6.1-.8.4-4.1-.6-9.9-3.9-13.5-2.1-2.3-4.8-3.5-8-3.5h-54.9c-.8-7.1-3-13-5.2-17.5-6.8-13.9-12.5-16.5-21.2-16.5h-.7c-8.7 0-14.4 2.5-21.2 16.5-2.2 4.5-4.4 10.4-5.2 17.5h-48.5c-3.2 0-5.9 1.2-8 3.5-3.2 3.6-4.3 9.3-3.9 13.5 0 .2 0 .5.1.8.7 9.8 5.4 17.4 14 23-2.6 3.1-10.1 11.7-15.4 17.9-6.1 7.2-16.1 22.9-18.5 36.9-2.2 13.3-1.2 47.4 1 54.9 1.1 3.8 1.4 14.5-.2 19.4-1.2 2.4-2.3 5-3.4 7.9-4.4 11.6-6.2 26.3-5 32.6 1.8 9.9 16.5 14.4 29.4 14.4h176.8c12.9 0 27.6-4.5 29.4-14.4 1.2-6.5-.5-21.1-5-32.7zm-97.7-178c.3-3.2.8-10.6-.2-18 2.4 4.3 5 10.5 5.9 18h-5.7zm-36.3-17.9c-1 7.4-.5 14.8-.2 18h-5.7c.9-7.5 3.5-13.7 5.9-18zm4.5-6.9c0-.1.1-.2.1-.4 4.4-5.3 8.4-5.8 13.1-5.8h.7c4.7 0 8.7.6 13.1 5.8 0 .1 0 .2.1.4 3.2 8.9 2.2 21.2 1.8 25h-30.7c-.4-3.8-1.3-16.1 1.8-25zm-70.7 42.5c0-.3 0-.6-.1-.9-.3-3.4.5-8.4 3.1-11.3 1-1.1 2.1-1.7 3.4-2.1l-.6.6c-2.8 3.1-3.7 8.1-3.3 11.6 0 .2 0 .5.1.8.3 3.5.9 11.7 10.6 18.8.3.2.8.2 1-.2.2-.3.2-.8-.2-1-9.2-6.7-9.8-14.4-10-17.7 0-.3 0-.6-.1-.8-.3-3.2.5-7.7 3-10.5.8-.8 1.7-1.5 2.6-1.9h155.7c1 .4 1.9 1.1 2.6 1.9 2.5 2.8 3.3 7.3 3 10.5 0 .2 0 .5-.1.8-.3 3.6-1 13.1-13.8 20.1-.3.2-.5.6-.3 1 .1.2.4.4.6.4.1 0 .2 0 .3-.1 13.5-7.5 14.3-17.5 14.6-21.3 0-.3 0-.5.1-.8.4-3.5-.5-8.5-3.3-11.6l-.6-.6c1.3.4 2.5 1.1 3.4 2.1 2.6 2.9 3.5 7.9 3.1 11.3 0 .3 0 .6-.1.9-1.5 20.9-23.6 31.4-65.5 31.4h-43.8c-41.8 0-63.9-10.5-65.4-31.4zm91 89.1h-7c0-1.5 0-3-.1-4.2-.2-12.5-2.2-31.1-2.7-35.1h3.6c.8 0 1.4-.6 1.4-1.4v-14.1h2.4v14.1c0 .8.6 1.4 1.4 1.4h3.7c-.4 3.9-2.4 22.6-2.7 35.1v4.2zm65.3 11.9h-16.8c-.4 0-.7.3-.7.7 0 .4.3.7.7.7h16.8v2.8h-62.2c0-.9-.1-1.9-.1-2.8h33.9c.4 0 .7-.3.7-.7 0-.4-.3-.7-.7-.7h-33.9c-.1-3.2-.1-6.3-.1-9h62.5v9zm-12.5 24.4h-6.3l.2-1.6h5.9l.2 1.6zm-5.8-4.5l1.6-12.3h2l1.6 12.3h-5.2zm-57-19.9h-62.4v-9h62.5c0 2.7 0 5.8-.1 9zm-62.4 1.4h62.4c0 .9-.1 1.8-.1 2.8H194v-2.8zm65.2 0h7.3c0 .9.1 1.8.1 2.8H259c.1-.9.1-1.8.1-2.8zm7.2-1.4h-7.2c.1-3.2.1-6.3.1-9h7c0 2.7 0 5.8.1 9zm-7.7-66.7v6.8h-9v-6.8h9zm-8.9 8.3h9v.7h-9v-.7zm0 2.1h9v2.3h-9v-2.3zm26-1.4h-9v-.7h9v.7zm-9 3.7v-2.3h9v2.3h-9zm9-5.9h-9v-6.8h9v6.8zm-119.3 91.1c-2.1-7.1-3-40.9-.9-53.6 2.2-13.5 11.9-28.6 17.8-35.6 5.6-6.5 13.5-15.7 15.7-18.3 11.4 6.4 28.7 9.6 51.8 9.6h6v14.1c0 .8.6 1.4 1.4 1.4h5.4c.3 3.1 2.4 22.4 2.7 35.1 0 1.2.1 2.6.1 4.2h-63.9c-.8 0-1.4.6-1.4 1.4v16.1c0 .8.6 1.4 1.4 1.4H256c-.8 11.8-2.8 24.7-8 33.3-2.6 4.4-4.9 8.5-6.9 12.2-.4.7-.1 1.6.6 1.9.2.1.4.2.6.2.5 0 1-.3 1.3-.8 1.9-3.7 4.2-7.7 6.8-12.1 5.4-9.1 7.6-22.5 8.4-34.7h7.8c.7 11.2 2.6 23.5 7.1 32.4.2.5.8.8 1.3.8.2 0 .4 0 .6-.2.7-.4 1-1.2.6-1.9-4.3-8.5-6.1-20.3-6.8-31.1H312l-2.4 18.6c-.1.4.1.8.3 1.1.3.3.7.5 1.1.5h9.6c.4 0 .8-.2 1.1-.5.3-.3.4-.7.3-1.1l-2.4-18.6H333c.8 0 1.4-.6 1.4-1.4v-16.1c0-.8-.6-1.4-1.4-1.4h-63.9c0-1.5 0-2.9.1-4.2.2-12.7 2.3-32 2.7-35.1h5.2c.8 0 1.4-.6 1.4-1.4v-14.1h6.2c23.1 0 40.4-3.2 51.8-9.6 2.3 2.6 10.1 11.8 15.7 18.3 5.9 6.9 15.6 22.1 17.8 35.6 2.2 13.4 2 43.2-1.1 53.1-1.2 3.9-1.4 8.7-1 13-1.7-2.8-2.9-4.4-3-4.6-.2-.3-.6-.5-.9-.6h-.5c-.2 0-.4.1-.5.2-.6.5-.8 1.4-.3 2 0 0 .2.3.5.8 1.4 2.1 5.6 8.4 8.9 16.7h-42.9v-43.8c0-.8-.6-1.4-1.4-1.4s-1.4.6-1.4 1.4v44.9c0 .1-.1.2-.1.3 0 .1 0 .2.1.3v9c-1.1 2-3.9 3.7-10.5 3.7h-7.5c-.4 0-.7.3-.7.7 0 .4.3.7.7.7h7.5c5 0 8.5-.9 10.5-2.8-.1 3.1-1.5 6.5-10.5 6.5H210.4c-9 0-10.5-3.4-10.5-6.5 2 1.9 5.5 2.8 10.5 2.8h67.4c.4 0 .7-.3.7-.7 0-.4-.3-.7-.7-.7h-67.4c-6.7 0-9.4-1.7-10.5-3.7v-54.5c0-.8-.6-1.4-1.4-1.4s-1.4.6-1.4 1.4v43.8h-43.6c4.2-10.2 9.4-17.4 9.5-17.5.5-.6.3-1.5-.3-2s-1.5-.3-2 .3c-.1.2-1.4 2-3.2 5 .1-4.9-.4-10.2-1.1-12.8zm221.4 60.2c-1.5 8.3-14.9 12-26.6 12H174.4c-11.8 0-25.1-3.8-26.6-12-1-5.7.6-19.3 4.6-30.2H197v9.8c0 6.4 4.5 9.7 13.4 9.7h105.4c8.9 0 13.4-3.3 13.4-9.7v-9.8h44c4 10.9 5.6 24.5 4.6 30.2z"></path><path d="M286.1 359.3c0 .4.3.7.7.7h14.7c.4 0 .7-.3.7-.7 0-.4-.3-.7-.7-.7h-14.7c-.3 0-.7.3-.7.7zm5.3-145.6c13.5-.5 24.7-2.3 33.5-5.3.4-.1.6-.5.4-.9-.1-.4-.5-.6-.9-.4-8.6 3-19.7 4.7-33 5.2-.4 0-.7.3-.7.7 0 .4.3.7.7.7zm-11.3.1c.4 0 .7-.3.7-.7 0-.4-.3-.7-.7-.7H242c-19.9 0-35.3-2.5-45.9-7.4-.4-.2-.8 0-.9.3-.2.4 0 .8.3.9 10.8 5 26.4 7.5 46.5 7.5h38.1zm-7.2 116.9c.4.1.9.1 1.4.1 1.7 0 3.4-.7 4.7-1.9 1.4-1.4 1.9-3.2 1.5-5-.2-.8-.9-1.2-1.7-1.1-.8.2-1.2.9-1.1 1.7.3 1.2-.4 2-.7 2.4-.9.9-2.2 1.3-3.4 1-.8-.2-1.5.3-1.7 1.1s.2 1.5 1 1.7z"></path><path d="M275.5 331.6c-.8 0-1.4.6-1.5 1.4 0 .8.6 1.4 1.4 1.5h.3c3.6 0 7-2.8 7.7-6.3.2-.8-.4-1.5-1.1-1.7-.8-.2-1.5.4-1.7 1.1-.4 2.3-2.8 4.2-5.1 4zm5.4 1.6c-.6.5-.6 1.4-.1 2 1.1 1.3 2.5 2.2 4.2 2.8.2.1.3.1.5.1.6 0 1.1-.3 1.3-.9.3-.7-.1-1.6-.8-1.8-1.2-.5-2.2-1.2-3-2.1-.6-.6-1.5-.6-2.1-.1zm-38.2 12.7c.5 0 .9 0 1.4-.1.8-.2 1.3-.9 1.1-1.7-.2-.8-.9-1.3-1.7-1.1-1.2.3-2.5-.1-3.4-1-.4-.4-1-1.2-.8-2.4.2-.8-.3-1.5-1.1-1.7-.8-.2-1.5.3-1.7 1.1-.4 1.8.1 3.7 1.5 5 1.2 1.2 2.9 1.9 4.7 1.9z"></path><path d="M241.2 349.6h.3c.8 0 1.4-.7 1.4-1.5s-.7-1.4-1.5-1.4c-2.3.1-4.6-1.7-5.1-4-.2-.8-.9-1.3-1.7-1.1-.8.2-1.3.9-1.1 1.7.7 3.5 4.1 6.3 7.7 6.3zm-9.7 3.6c.2 0 .3 0 .5-.1 1.6-.6 3-1.6 4.2-2.8.5-.6.5-1.5-.1-2s-1.5-.5-2 .1c-.8.9-1.8 1.6-3 2.1-.7.3-1.1 1.1-.8 1.8 0 .6.6.9 1.2.9z"></path></svg>
        </div>
      </div>
      {% endif %}

      <div class="product-info">
        <div class="inner">
          <div class="innerer">
            <a class="product-link{% if settings.quickbuy_style == 'whole' %} quickbuy-toggle{% endif %}" href="{{ product_url }}{{variant_url}}">
              {% if section.settings.show_vendor %}
              <div class="vendor">{{ product.vendor }}</div>
              {% endif %}
              <div class="product-block__title">{{ product.title }}</div>

              <div class="product-price">
                {% if product.price_varies %}
                <span class="product-price__item product-price__from">{% endraw %}{{ 'products.listing.from' | t }}{% raw %}</span>
                {% endif %}
                <span class="product-price__item product-price__amount {% if cheapest_variant.compare_at_price > cheapest_variant.price %}product-price__amount--on-sale{% endif %} theme-money">{{ cheapest_variant.price | money }}</span>
                {% if cheapest_variant.compare_at_price > cheapest_variant.price %}
                <span class="product-price__item product-price__compare theme-money">{{ cheapest_variant.compare_at_price | money }}</span>
                {% endif %}

                {% if settings.prod_sold_out_show and product.available == false %}
                <span class="product-price__item price-label price-label--sold-out">{% endraw %}{{ 'products.labels.sold_out' | t }}{% raw %}</span>
                {% elsif settings.prod_pre_order_label_show and product.template_suffix == 'preorder' %}
                <span class="product-price__item price-label price-label--preorder">{% endraw %}{{ 'products.product.preorder' | t }}{% raw %}</span>
                {% elsif settings.prod_sale_show and cheapest_variant.compare_at_price > cheapest_variant.price %}
                <span class="product-price__item price-label price-label--sale">{% endraw %}{{ 'products.labels.sale' | t }}{% raw %}</span>
                {% endif %}
              </div>
            </a>

            {%- if settings.prod_thumb_show_options -%}

            {% assign option_limit = 3 %}
            {% assign option_index = 0 %}
            {% assign options_to_show = settings.prod_thumb_options_names | replace: ', ', ',' | split: ','  %}
            {%- for product_option in product.options -%}
            {%- if options_to_show contains product_option.name -%}
            {% assign option_index = forloop.index0 %}
            {% if settings.swatch_enabled and settings.swatch_option_name contains product_option.name  %}
            {% assign is_swatch = true  %}
            {% else  %}
            {% assign is_swatch = false  %}
            {%  endif  %}

            <div class="product-block-options{% if is_swatch %} product-block-options--swatch{% endif %}" data-option-name="{{ product_option.name | escape }}">
              <div class="product-block-options__inner">
                {%- if options_count == 1 -%}
                {%- for variant in product.variants -%}
                <span class="product-block-options__item{% unless variant.available %} product-block-options__item--unavailable{% endunless %}{% if forloop.index > option_limit and is_swatch %} product-block-options__item--truncated{% endif %}{% if is_swatch %} lazyload{% endif %}"
                      data-option-item="{{ variant.title | downcase | escape }}"
                      {% if variant.image %}data-media="{{ variant.image.id }}"{% endif %}
                      {% if is_swatch %}{% if settings.swatch_images %}data-bgset="{{ variant.title | handle | append: '.png' | file_img_url: '48x48' | crop: 'center' }}"{% else %}style="background-color:{{ variant.title | downcase | remove: ' ' | escape }}"{% endif %}{% endif %}><span class="product-block-options__item__text">{{ variant.title }}</span></span>
                {%- endfor -%}
                {%- if variants_count > option_limit and is_swatch -%}
                {%- assign remaining = variants_count | minus: option_limit -%}
                <span class="product-block-options__more-label">{% endraw %}{{ 'collections.general.more_swatches' | t: count: remaining }}{% raw %}</span>
                {%- endif -%}
                {%- else -%}
                {%- for product_option_value in product_option.values -%}

                {% assign option_value_variant = false %}
                {% assign is_unavailable = true %}
                {% for variant in product.variants %}
                {% if variant.options[option_index] == product_option_value %}
                {% assign option_value_variant = variant %}
                {% break %}
                {% endif %}
                {% endfor %}
                {% for variant in product.variants %}
                {% if variant.available and variant.options[option_index] == product_option_value %}
                {% assign is_unavailable = false %}
                {% break %}
                {% endif %}
                {% endfor %}

                <span class="product-block-options__item{% if is_unavailable %} product-block-options__item--unavailable{% endif %}{% if forloop.index > option_limit and is_swatch %} product-block-options__item--truncated{% endif %}{% if is_swatch %} lazyload{% endif %}"
                      data-option-item="{{ product_option_value | downcase | escape }}"
                      {% if option_value_variant.image %}data-media="{{ option_value_variant.image.id }}"{% endif %}
                      {% if is_swatch %}{% if settings.swatch_images %}data-bgset="{{ product_option_value | handle | append: '.png' | file_img_url: '48x48' | crop: 'center' }}"{% else %}style="background-color:{{ product_option_value | downcase | remove: ' ' | escape }}"{% endif %}{% endif %}><span class="product-block-options__item__text">{{ product_option_value }}</span></span>
                {%- endfor -%}
                {% assign product_option_size = product_option.values | size %}
                {%- if product_option_size > option_limit and is_swatch -%}
                {%- assign remaining = product_option_size | minus: option_limit -%}
                {% assign count = remaining %}
                <span class="product-block-options__more-label">{% endraw %}{{ 'collections.general.more_swatches' | t }}{% raw %}</span>
                {%- endif -%}
                {%- endif -%}
              </div>
            </div>
            {%- endif -%}
            {%- endfor -%}
            {%- endif -%}
                        {%- if settings.enable_product_reviews_collection -%}
            <span class="shopify-product-reviews-badge" data-id="{{ product.id }}"></span>
            {%- endif -%}
          </div>
        </div>
      </div>
    </div>
  </div>

  {%- if settings.quickbuy_style != 'off' -%}
  {%- unless no_quick_buy_markup -%}
  <div class="quickbuy-container">
    <a href="#" class="close-detail" aria-label="{% endraw %}{{ 'products.quick_buy.close' | t }}{% raw %}" tabindex="-1">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="{{ stroke_width | default: 2 }}" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x"><line x1="18" y1="6" x2="6" y2="18"></line><line x1="6" y1="6" x2="18" y2="18"></line></svg>
    </a>
    <div class="inner"></div>
  </div>
  {%- endunless -%}
  {%- endif -%}
</div>
      {% endraw %}
