{%- comment -%}
{
  "pack_name": "Heading block",
  "pack_author": "Design Packs",
  "license": "© Design Packs. All rights reserved. This code is protected by copyright law and may not be reproduced, distributed, or used without explicit permission from the author. Shopify complies with the Digital Millennium Copyright Act (DMCA) and responds to claims of copyright infringement using DMCA procedures, which could result in the termination of your Shopify account.",
}
{%- endcomment -%}

{% comment %} Security Code - hides section when app uninstalled {% endcomment %}
{%- unless content_for_header contains 'design_packs_file.js' -%}
  {%- if request.design_mode -%}
    <div class="dsgn-pck__no-app-warning">
      <div class="dsgn-pck__no-app-warning-background">
      </div>
      <div class="dsgn-pck__no-app-warning-text dsgn-pck__rte">
        <p><strong>WARNING!</strong> This premium section will not display properly without an active subscription for <a href="https://apps.shopify.com/design-packs" target="_blank" rel="noopener nofollow">Design Packs</a>. If you need any support please email <a href="mailto:info@design-packs.com" target="_blank" rel="noopener">info@design-packs.com</a> with your questions.</p>
      </div>
    </div>
  {%- endif -%}
  {%- break -%}
{%- endunless -%}

{%- assign section_id = section.id | replace: '+', '' | replace: '=', '' -%}
{%- assign block_index = section.blocks | find_index: 'id', block.id | plus: 1 -%}

{%- assign block_horizontal_setting = block.settings.horizontal_alignment | default: 'default' -%}

{%- capture css_styles -%}
  <style data-dp-css="blocks/_dpb_-_heading.liquid">

    [id*=preview-block] .dsgn-pck__inner-block-container {
      container-type: normal !important;
    }

    .dsgn-pck__block-id-{{ block.id }} {
      width: {{ block.settings.base_width }}%;
      max-width: {{ block.settings.max_width | remove: 'px' }}px;
      display: flex;
      {%- if block.settings.horizontal_alignment == 'left' -%}
        align-self: flex-start;
        margin-left: 0;
        margin-right: auto;
        --block-horizontal-alignment: flex-start;
      {%- elsif block.settings.horizontal_alignment == 'right' -%}
        align-self: flex-end;
        margin-left: auto;
        margin-right: 0;
        --block-horizontal-alignment: flex-end;
      {%- elsif block.settings.horizontal_alignment == 'center' -%}
        align-self: center;
        margin-left: auto;
        margin-right: auto;
        --block-horizontal-alignment: center;
      {%- endif -%}
      --section-horizontal-alignment: {%- if section.settings.text_alignment == 'center' -%}center{%- elsif section.settings.text_alignment == 'right' -%}flex-end{%- endif -%};
      align-self: var(--block-horizontal-alignment, var(--section-horizontal-alignment));
    }

    .dsgn-pck__block-id-{{ block.id }} > .dsgn-pck__inner-block-container {
      container-type: inline-size;
      container-name: dp-heading-container;
      flex: 1 1 auto;
      min-width: 0;
    }

    {%- if block.settings.enable_custom_font != blank -%}
      {{ block.settings.custom_font | font_face: font_display: 'swap' }}
      {{ block.settings.custom_font | font_modify: 'weight', 'bolder' | font_face: font_display: 'swap' }}
      {{ block.settings.custom_font | font_modify: 'style', 'italic' | font_face: font_display: 'swap' }}
      {{ block.settings.custom_font | font_modify: 'style', 'italic' | font_modify: 'weight', 'bolder' | font_face: font_display: 'swap' }}
      .dsgn-pck__block-id-{{ block.id }} {
        --custom-font: {{ block.settings.custom_font.family }}, {{ block.settings.custom_font.fallback_families }};
        --custom-font-weight: {{ block.settings.custom_font.weight }};
        --custom-font-style: {{ block.settings.custom_font.style }};
      }
    {% endif %}

    {%- if block.settings.highlight_enable_custom_font != blank -%}
      {{ block.settings.highlight_custom_font | font_face: font_display: 'swap' }}
      {{ block.settings.highlight_custom_font | font_modify: 'weight', 'bolder' | font_face: font_display: 'swap' }}
      {{ block.settings.highlight_custom_font | font_modify: 'style', 'italic' | font_face: font_display: 'swap' }}
      {{ block.settings.highlight_custom_font | font_modify: 'style', 'italic' | font_modify: 'weight', 'bolder' | font_face: font_display: 'swap' }}
      .dsgn-pck__block-id-{{ block.id }} {
        --highlight-custom-font: {{ block.settings.highlight_custom_font.family }}, {{ block.settings.highlight_custom_font.fallback_families }};
        --highlight-custom-font-weight: {{ block.settings.highlight_custom_font.weight }};
        --highlight-custom-font-style: {{ block.settings.highlight_custom_font.style }};
      }
    {% endif %}

    {%- assign highlight_background_text_color_alpha = block.settings.highlight_background_color | color_extract: 'alpha' -%}
    {%- assign highlight_text_color_alpha = block.settings.highlight_text_color | color_extract: 'alpha' -%}
    {%- assign block_heading_alpha = block.settings.block_heading_color | color_extract: 'alpha' -%}
    .dsgn-pck__block-id-{{ block.id }} .dsgn-pck__heading {
      margin: 0;
      line-height: var(--dp-g-heading-line-height, var(--dp-heading-line-height, calc(3px + 2ex + 3px)));
      color: {%- if block_heading_alpha != 0 -%}{{ block.settings.block_heading_color }}{% else -%}var(--dp-heading-color){%- endif -%};
      {%- if block.settings.block_heading_size != blank and block.settings.enable_custom_heading_size == true -%}
        font-size: calc({{ block.settings.block_heading_size }} * {{ section.settings.text_size | default: 100 | times: 0.01 }});
      {%- else -%}
        font-size: calc(var(--dp-g-heading-size, var(--dp-heading-size, 35px)) * {{ section.settings.text_size | default: 100 | times: 0.01 }});
      {%- endif -%}
      {%- if block.settings.enable_custom_font != blank -%}
      font-family: var(--custom-font);
      font-weight: var(--custom-font-weight);
      font-style: var(--custom-font-style);
      {%- elsif section.settings.override_theme_font != blank -%}
      font-family: var(--heading-font);
      font-weight: var(--heading-font-weight);
      font-style: var(--heading-font-style);
      {%- endif -%}
      {%- if block.settings.text_alignment != 'default' -%}
        text-align: {{ block.settings.text_alignment }};
      {%- else -%}
        text-align: var(--block-text-alignment, var(--section-text-alignment));
      {%- endif -%}

    }

    {%- if block.settings.enable_highlighted_text -%}
      .dsgn-pck__block-id-{{ block.id }} .dsgn-pck__fancy {
        position: relative;
        {%- if block.settings.highlight_heading_size != blank or block.settings.block_heading_size != blank -%}
          font-size: calc({{ block.settings.highlight_heading_size | default: block.settings.block_heading_size }} * {{ section.settings.text_size | default: 100 | times: 0.01 }});
        {%- else -%}
          font-size: calc(var(--dp-g-heading-size, var(--dp-heading-size, 35px)) * {{ section.settings.text_size | default: 100 | times: 0.01 }});
        {%- endif -%}
        {%- if block.settings.highlight_enable_custom_font -%}
        font-family: var(--highlight-custom-font);
        font-weight: var(--highlight-custom-font-weight);
        font-style: var(--highlight-custom-font-style);
        {%- elsif section.settings.override_theme_font != blank -%}
        font-family: var(--heading-font);
        font-weight: var(--heading-font-weight);
        font-style: var(--heading-font-style);
        {%- endif -%}
        background-color: {%- if highlight_background_text_color_alpha != 0 -%}
          {{ block.settings.highlight_background_color }}
        {%- endif -%};
        color: {%- if highlight_text_color_alpha != 0 -%}
          {{ block.settings.highlight_text_color }}
        {%- endif -%};
        {%- if highlight_background_text_color_alpha != 0 -%}
          padding: 0 0.2em;
          display: inline-block;
        {%- endif -%}
      }

      {%- if block.settings.custom_highlight_css != blank -%}
        {%- assign custom_block_declarations = block.settings.custom_highlight_css | split: '}' -%}
        {%- for declaration in custom_block_declarations -%}
          {%- if declaration contains '{' -%}
            .dsgn-pck__block-id-{{ block.id }} {{ declaration }} }
          {%- endif -%}
        {%- endfor -%}
      {%- endif -%}

    {%- endif -%}

    /* Custom CSS */
    {%- if block.settings.enable_custom_css == true and block.settings.custom_css != blank -%}
      {%- assign custom_css_rules = block.settings.custom_css | strip | split: '}' -%}
      {%- for rule in custom_css_rules -%}
        {%- assign clean_rule = rule | strip -%}
        {%- if clean_rule contains '{' and clean_rule != blank -%}
          {%- assign rule_parts = clean_rule | split: '{' -%}
          {%- if rule_parts.size >= 2 -%}
            {%- assign selector_part = rule_parts[0] | strip -%}
            {%- assign css_part = rule_parts[1] | strip -%}
            {%- if css_part != blank -%}
              {%- if selector_part == blank -%}
                #DP--{{ block.id }} { {{ css_part }} }
              {%- else -%}
                #DP--{{ block.id }} {{ selector_part }} { {{ css_part }} }
              {%- endif -%}
            {%- endif -%}
          {%- endif -%}
        {%- endif -%}
      {%- endfor -%}
    {%- endif -%}

    /* Small context - small container and mobile */
    {%- capture small_context -%}

    .dsgn-pck__block-id-{{ block.id }} .dsgn-pck__heading {
      {%- if block.settings.mobile_block_heading_size != blank -%}
        font-size: calc({{ block.settings.mobile_block_heading_size }} * {{ section.settings.text_size | default: 100 | times: 0.01 }});
      {%- elsif block.settings.block_heading_size != blank -%}
        font-size: {{ block.settings.block_heading_size | remove: 'px' | times: 0.75 | round: 0 | at_least: 12 }}px;
      {%- endif -%}
    }

    /* Mobile & narrow custom CSS */
    {%- if block.settings.enable_custom_css == true and block.settings.mobile_css != blank -%}
      {%- assign mobile_css_rules = block.settings.mobile_css | strip | split: '}' -%}
      {%- for rule in mobile_css_rules -%}
        {%- assign clean_rule = rule | strip -%}
        {%- if clean_rule contains '{' and clean_rule != blank -%}
          {%- assign rule_parts = clean_rule | split: '{' -%}
          {%- if rule_parts.size >= 2 -%}
            {%- assign selector_part = rule_parts[0] | strip -%}
            {%- assign css_part = rule_parts[1] | strip -%}
            {%- if css_part != blank -%}
              {%- if selector_part == blank -%}
                #DP--{{ block.id }} { {{ css_part }} }
              {%- else -%}
                #DP--{{ block.id }} {{ selector_part }} { {{ css_part }} }
              {%- endif -%}
            {%- endif -%}
          {%- endif -%}
        {%- endif -%}
      {%- endfor -%}
    {%- endif -%}
    {%- endcapture -%}

    @supports (container-type: inline-size) {
      @container dp-heading-container (max-width: 300px) {
        {{ small_context }}
      }
    }

    @media (max-width: 767px) {
      {{ small_context }}
    }

    {%- if block.settings.hidden_on == 'mobile' -%}
      @media (max-width: 767px) {
        .dsgn-pck__block-id-{{ block.id }} {
          display: none;
        }
      }
    {%- endif -%}

    {%- if block.settings.hidden_on == 'desktop' -%}
      @media (min-width: 768px) {
        .dsgn-pck__block-id-{{ block.id }} {
          display: none;
        }
      }
    {%- endif -%}

  </style>
{%- endcapture -%}

<div id="DP--{{ block.id }}" class="DP--{{ block.id }} dsgn-pck__block dsgn-pck__block-id-{{ block.id }} dsgn-pck__block--{{ block.type }} dsgn-pck__block--{{ block.index }} dsgn-pck__block--heading" {{ block.shopify_attributes }} {% if section.settings.animation != blank %}style="--dsgn-pck-animate: {{ block_index }};"{% endif %}>
  {{ css_styles }}
  <div class="dsgn-pck__inner-block-container">
  {%- if block.settings.title != blank -%}
    <{{- block.settings.heading_level }} class="dsgn-pck__heading">
      {{ block.settings.title | replace: '[', '<span class="dsgn-pck__fancy">' | replace: ']', '</span>' }}
    </{{- block.settings.heading_level -}}>
  {%- endif -%}
  </div>
</div>

{% schema %}
{
  "name": "Heading 🎒",
  "tag": null,
  "settings": [
    {
      "type": "inline_richtext",
      "id": "title",
      "label": "Heading",
      "default": "Attention-grabbing headline"
    },
    {
      "type": "color",
      "id": "block_heading_color",
      "label": "Color"
    },
    {
      "type": "checkbox",
      "id": "enable_custom_heading_size",
      "label": "Enable custom heading size",
      "default": false
    },
    {
      "visible_if": "{{ block.settings.enable_custom_heading_size }}",
      "type": "text",
      "id": "block_heading_size",
      "label": "Heading size",
      "info": "Leave empty to default to base size of 35px."
    },
    {
      "visible_if": "{{ block.settings.enable_custom_heading_size }}",
      "type": "text",
      "id": "mobile_block_heading_size",
      "label": "Mobile & narrow display heading size",
      "info": "Leave empty to match custom heading size."
    },
    {
      "type": "checkbox",
      "id": "enable_custom_font",
      "label": "Enable custom font",
      "default": false
    },
    {
      "visible_if": "{{ block.settings.enable_custom_font }}",
      "type": "font_picker",
      "id": "custom_font",
      "label": "Custom font",
      "default": "abel_n4"
    },
    {
      "type": "checkbox",
      "id": "enable_highlighted_text",
      "label": "Enable highlighted text",
      "default": false,
      "info": "Use square brackets [] around text that you would like to highlight."
    },
    {
      "visible_if": "{{ block.settings.enable_highlighted_text }}",
      "type": "color",
      "id": "highlight_text_color",
      "label": "Text",
      "default": "#FFFFFF"
    },
    {
      "visible_if": "{{ block.settings.enable_highlighted_text }}",
      "type": "color",
      "id": "highlight_background_color",
      "label": "Background",
      "default": "#000000"
    },
    {
      "visible_if": "{{ block.settings.enable_highlighted_text }}",
      "type": "text",
      "id": "highlight_heading_size",
      "label": "Base text size",
      "placeholder": "eg. 40px",
      "info": "Set custom size for text in square brackets."
    },
    {
      "visible_if": "{{ block.settings.enable_highlighted_text }}",
      "type": "checkbox",
      "id": "highlight_enable_custom_font",
      "label": "Enable custom font on selected text",
      "default": false
    },
    {
      "visible_if": "{{ block.settings.enable_highlighted_text and block.settings.highlight_enable_custom_font }}",
      "type": "font_picker",
      "id": "highlight_custom_font",
      "label": "Custom font",
      "default": "abel_n4"
    },
    {
      "visible_if": "{{ block.settings.enable_highlighted_text }}",
      "type": "html",
      "id": "custom_highlight_css",
      "label": "CSS",
      "info": "Target the text in the square brackets with the class .dsgn-pck__fancy"
    },
    {
      "type": "select",
      "id": "text_alignment",
      "label": "Text alignment",
      "default": "default",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "right",
          "label": "Right"
        },
        {
          "value": "default",
          "label": "Default"
        }
      ]
    },
    {
      "type": "header",
      "content": "🖼 Layout"
    },
    {
      "type": "range",
      "id": "base_width",
      "label": "Size",
      "min": 50,
      "max": 100,
      "default": 100,
      "unit": "%",
      "info": "Size is based on the width of the container. [Learn more]( https://design-packs.gitbook.io/docs/fundamentals/block-settings/size-controls-for-image-and-video-blocks)"
    },
    {
      "type": "text",
      "id": "max_width",
      "label": "Maximum width",
      "placeholder": "eg. 1200px",
      "info": "Sets width constraint for content."
    },
    {
      "visible_if": "{{ block.settings.base_width < 100 or block.settings.max_width != blank }}",
      "type": "select",
      "id": "horizontal_alignment",
      "label": "Horizontal alignment",
      "default": "default",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "right",
          "label": "Right"
        },
        {
          "value": "default",
          "label": "Default"
        }
      ]
    },
    {
      "type": "select",
      "id": "hidden_on",
      "label": "Hidden on",
      "options": [
        {
          "value": "none",
          "label": "None"
        },
        {
          "value": "desktop",
          "label": "Desktop"
        },
        {
          "value": "mobile",
          "label": "Mobile"
        }
      ]
    },
    {
      "type": "select",
      "id": "heading_level",
      "label": "Heading level",
      "options": [
        {
          "value": "h1",
          "label": "h1"
        },
        {
          "value": "h2",
          "label": "h2"
        },
        {
          "value": "h3",
          "label": "h3"
        },
        {
          "value": "h4",
          "label": "h4"
        },
        {
          "value": "h5",
          "label": "h5"
        },
        {
          "value": "h6",
          "label": "h6"
        }
      ],
      "default": "h2",
      "info": "Does not affect the style of the heading. Only affects the HTML structure for SEO purposes."
    },
    {
      "type": "checkbox",
      "id": "enable_custom_css",
      "label": "Enable custom CSS",
      "default": false
    },
    {
      "visible_if": "{{ block.settings.enable_custom_css == true }}",
      "type": "liquid",
      "id": "custom_css",
      "label": "Custom CSS"
    },
    {
      "visible_if": "{{ block.settings.enable_custom_css == true }}",
      "type": "liquid",
      "id": "mobile_css",
      "label": "Mobile & narrow custom CSS",
      "info": "Applied on small screens or in tight spaces."
    },
    {
      "type": "paragraph",
      "content": "Open [Design Packs](/admin/apps/design-packs-1/dashboard) to add/update new sections and blocks."
    }
  ],
  "presets": [
    {
      "name": "Heading 🎒",
      "category": "* Design Packs * Basic"
    }
  ],
}
{% endschema %}
